<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container px-4 px-lg-5 ">
        <a class="navbar-brand" href="">
            <i class="fa-solid  fa-2x text-light"></i>
            &nbsp; &nbsp;
            <span class="fs-2 text-light">Brownie</span> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon bg-light"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:30% ;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item ">
                    <!-- on event keyup the function searchTerm will called -->
                    <input  (keyup)="searchTerm($event)" type="text" [placeholder]="search" style="width:300px; margin-left: 400px; " class="text-dark">
                </li>
                &nbsp;&nbsp;
                
            </ul>
            
        </div>
    </div>
</nav>