<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center text-dark">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 rounded w-50" src={{userDetails.image}}
                    alt="" /></div>
            <div class="col-md-6">
                <div class="small mb-1">ID:{{userDetails.id}}</div>

                <h1 class="small mb-1">Name:{{userDetails.firstName}}</h1>
                <h2 class="display-5 fw-bolder">{{userDetails.lastName}}</h2>

                



                <div class="fs-3 mb-3">
                    <p>Age:{{userDetails.age}}</p>
                    <p>Gender:{{userDetails.gender}}</p>
                    <p>Gender:{{userDetails.phone}}</p>
                    <p>Gender:{{userDetails.birthDate}}</p>
                    <p class="">Address:{{userDetails.address.address}}</p>
                    <p class="">City:{{userDetails.address.city}}</p>
                    <p class="">State:{{userDetails.address.state}}</p>



                </div>
               


                



            </div>

        </div>
    </div>
</section>
